<table id="table1" class="mat-table">
  <tr>
    <td>New password:</td>
    <td>
      <mat-form-field appearance="outline">
        <input matInput type="password" [(ngModel)]="password" [formControl]="requiredPasswordControl" />
      </mat-form-field>
      <div *ngIf="requiredPasswordControl.invalid && requiredPasswordControl.touched" class="error-message">
        Password must contain at least 8 characters, including one lowercase letter, one uppercase letter, one digit, and one special character.
      </div>
    </td>
  </tr>

  <tr>
    <td>Confirm:</td>
    <td>
      <mat-form-field appearance="outline">
        <input matInput type="password" [(ngModel)]="confirmationPass" [formControl]="requiredConfirmationPasswordControl"/>
      </mat-form-field>
    </td>
  </tr>

  <tr>
    <td>Back</td>
    <td><button mat-raised-button color="primary" (click)="GoBack()">Back</button></td>
  </tr>

  <tr>
    <td>Save</td>
    <td><button mat-raised-button color="primary" (click)="UpdatePassword()">Save</button></td>
  </tr>
</table>
