body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.table-container {
  width: 100%;
  margin-left: 0%; /* Adjust the value as needed */
  margin-right: 60%; /* Adjust the value as needed */
  overflow-x: auto; /* Add this line to enable horizontal scrolling */
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-table th,
.mat-table td {
  border: 1px solid black;
  padding: 8px;
}

.mat-table th {
  font-weight: bold;
}

.table-title {
  margin-left: 0px; /* Adjust the value as needed */
}

.first-column {
  width: 200px; /* Adjust the width as needed */
}
