<body>
    <div class="container">
      <h1 class="table-title">Create project</h1>
      <div class="table-container">
          <table id="table1" class="mat-table">
            <tr>
              <th>Name:</th>
              <td>
                <mat-form-field appearance="outline">
                  <input matInput type="text" [(ngModel)]="project.name" />
                </mat-form-field>
              </td>
            </tr>
  
            <tr>
              <th>Duration:</th>
              <td>
                <mat-form-field appearance="outline">
                  <input matInput type="text" [(ngModel)]="project.duration"/>
                </mat-form-field>
              </td>
            </tr>
  
            <tr>
              <th>Select employee:</th>
              <td>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="project.users" multiple>
                    <mat-option *ngFor="let employee of employees" [value]="employee">
                      {{ employee.name }} {{employee.surname}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            
            <tr>
                <th>Create</th>
                <td><button mat-raised-button color="primary" (click)="create()">Create</button></td>
              </tr>
          </table>  
      </div>
    </div>
  </body>
  