<body>
    <form class="container">
        <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="email">
        </mat-form-field><br><br>

        <div class="forgot-password-container">
            <button mat-stroked-button style="color: white;" (click)="submitForgotPassword()">
                Submit
            </button>
            <a mat-button routerLink="/login">Back to Login</a>
        </div>
    </form>
</body>

