<div class="profile-info">
  <h2>{{ user.name }} {{ user.surname }}</h2>
  <h3>Title: {{ user.title }}</h3>
  <h3>E-mail: {{ user.email }}</h3>
  <h3>
    Address: {{ user.address.street }} {{ user.address.number }},
    {{ user.address.city }}, {{ user.address.country }}
  </h3>
  <h3>Phone number: {{ user.phoneNum }}</h3>
  <h3>Start of work: {{ user.startOfWork | date : "mediumDate" }}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Skill name</th>
        <th>Skill level</th>
        <th>Edit option</th>
        <th>Delete option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let skill of skills">
        <td>{{ skill.name }}</td>
        <td>{{ skill.level }}</td>
        <td>
          <button class="button" (click)="editSkill(skill)">Edit</button>
        </td>
        <td>
          <button class="delete-button" (click)="deleteSkill(skill.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <form *ngIf="flag === true" class="skill-form" (submit)="updateSkill()">
    <div class="input">
      <label>Skill name</label>
      <input type="text" name="name" [(ngModel)]="skill.name" />
    </div>
    <div class="input">
      <label>Skill level</label>
      <input type="number" name="level" [(ngModel)]="skill.level" />
    </div>
    <button class="edit-button" type="submit">Edit Skill</button>
  </form>
  <button class="download-button" (click)="downloadCV()">Download CV</button>
</div>
