/* search-users.component.css */
body {
    background-color:#f0f0f0 ;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .example-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-form1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-form2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .example-form3 {
    margin-left: 670px; /* Adjust the value as needed */
  }
  
  .example-form4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .button-container button {
    margin-left: 670px; /* Adjust the value as needed */
  }
  